input,
button {
  border: solid 1px #555b6e;
  border-radius: 2px;
  display: inline-block;
  padding: 0;
}
input {
  width: 400px;
  height: 40px;
  border-radius: 2px 0 0 2px;
  color: #888c9c;
  border: solid 1px #888c9c;
  padding: 0 5px 0 10px;
}

div#checkboxes {
  display: flex;
  gap: 10px;
  width: 400px;
  margin: 10px 0;
}

div#checkboxes > input {
  width: 16px;
  height: 16px;
}

button {
  width: 70px;
  height: 42px;
  background-color: #4468e8;
  color: white;
  border: solid 1px #4468e8;
  border-radius: 0 2px 2px 0;
}

section#articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

article {
  margin: 40px 0 10px 0;
  color: #202845;
}

article,
article > p {
  color: #202845;
}

article > p:first-of-type {
  font-weight: bold;
  font-size: 22pt;
}

img {
  width: 490px;
  border-radius: 5pt;
}

section#articles img {
  width: 100px;
}

label {
  display: block;
  color: #888c9c;
}
